<div class="row">
    <div class="col-md-12">
        <div class="headline"><h2>Inquiry Detail</h2></div>
    </div>

    <div class="col-md-12">
        <div class="margin-bottom-20">
            <a class="btn btn-warning" href="/#/inquirylist">Back</a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tag-box tag-box-v2">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h2>Name</h2>
            <p>{{inquiry.name}}</p>
            <hr>

            <h2>E-mail</h2>
            <p>{{inquiry.email}}</p>
            <hr>

            <h2>Looking for</h2>
            <p>{{inquiry.loanType}}</p>
            <hr>

            <h2>Property Cost</h2>
            <p>{{inquiry.propertyCost}}</p>
            <hr>

            <h2>Phone number</h2>
            <p>{{inquiry.phone}}</p>
            <hr>

            <h2>Current Address</h2>
            <p>{{inquiry.currentAddress}}</p>
            <hr>

            <h2>Monthly Rent</h2>
            <p>{{inquiry.monthlyRent}}</p>
        </div>
    </div>
</div>
