
@{
    ViewBag.Title = "Inquiry Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="title-box-v2">
        <h2><span class="color-green">Thank you for your submission</span></h2>
        <p>We will respond to your inquiry within 10 business days. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="title-box-v2">
        <a href="/" class="btn-u btn-u-lg"><i class="fa fa-home"></i> Back to Home</a>
    </div>
</div>

