
@{
    ViewBag.Title = "Site Map";
}

<h2>Site Map</h2>
<div class="loanInquiry">
    <div class="applicant">
        <div class="loanApp">
            <div class="applicant">
                <div class="personalInfo">
                    <div class="name"></div>
                    <div class="dob"></div>
                    <div class="ssn"></div>
                    <div class="phone"></div>
                    <div class="address">
                        <div class="current">
                            <div class="street"></div>
                            <div class="city"></div>
                            <div class="state"></div>
                            <div class="zip"></div>
                            <div class="ownRent"></div>
                            <div class="monthlyPay"></div>
                            <div class="howLong"></div>
                        </div>
                    </div>
                    <div class="address">
                        <div class="previous">
                            <div class="street"></div>
                            <div class="city"></div>
                            <div class="state"></div>
                            <div class="zip"></div>
                            <div class="ownRent"></div>
                            <div class="monthlyPay"></div>
                            <div class="howLong"></div>
                        </div>
                    </div>
                </div>
                <div class="employment">
                    <div class="current">
                        <div class="name"></div>
                        <div class="address"></div>
                        <div class="phone"></div>
                        <div class="email"></div>
                        <div class="fax"></div>
                        <div class="city"></div>
                        <div class="state"></div>
                        <div class="zip"></div>
                        <div class="position"></div>
                        <div class="hourlySalary"></div>
                        <div class="annualIncome"></div>
                    </div>
                </div>
                <div class="employment">
                    <div class="previous">
                        <div class="name"></div>
                        <div class="address"></div>
                        <div class="phone"></div>
                        <div class="email"></div>
                        <div class="fax"></div>
                        <div class="city"></div>
                        <div class="state"></div>
                        <div class="zip"></div>
                        <div class="position"></div>
                        <div class="hourlySalary"></div>
                        <div class="annualIncome"></div>
                    </div>
                </div>
            </div>
            <div class="coApplicant">
                <div class="personalInfo">
                    <div class="name"></div>
                    <div class="dob"></div>
                    <div class="ssn"></div>
                    <div class="phone"></div>
                    <div class="address">
                        <div class="current">
                            <div class="street"></div>
                            <div class="city"></div>
                            <div class="state"></div>
                            <div class="zip"></div>
                            <div class="ownRent"></div>
                            <div class="monthlyPay"></div>
                            <div class="howLong"></div>
                        </div>
                    </div>
                    <div class="address">
                        <div class="previous">
                            <div class="street"></div>
                            <div class="city"></div>
                            <div class="state"></div>
                            <div class="zip"></div>
                            <div class="ownRent"></div>
                            <div class="monthlyPay"></div>
                            <div class="howLong"></div>
                        </div>
                    </div>
                </div>
                <div class="employment">
                    <div class="current">
                        <div class="name"></div>
                        <div class="address"></div>
                        <div class="phone"></div>
                        <div class="email"></div>
                        <div class="fax"></div>
                        <div class="city"></div>
                        <div class="state"></div>
                        <div class="zip"></div>
                        <div class="position"></div>
                        <div class="hourlySalary"></div>
                        <div class="annualIncome"></div>
                    </div>
                </div>
                <div class="employment">
                    <div class="previous">
                        <div class="name"></div>
                        <div class="address"></div>
                        <div class="phone"></div>
                        <div class="email"></div>
                        <div class="fax"></div>
                        <div class="city"></div>
                        <div class="state"></div>
                        <div class="zip"></div>
                        <div class="position"></div>
                        <div class="hourlySalary"></div>
                        <div class="annualIncome"></div>
                    </div>
                </div>
            </div>
            <div class="relatives">
                <div class="relative">
                    <div class="first">
                        <div class="name"></div>
                        <div class="address"></div>
                        <div class="city"></div>
                        <div class="state"></div>
                        <div class="zip"></div>
                        <div class="relationship"></div>
                        <div class="phone"></div>
                        <div class="mobile"></div>
                    </div>
                </div>
                <div class="relative">
                    <div class="second">
                        <div class="name"></div>
                        <div class="address"></div>
                        <div class="city"></div>
                        <div class="state"></div>
                        <div class="zip"></div>
                        <div class="relationship"></div>
                        <div class="phone"></div>
                        <div class="mobile"></div>
                    </div>
                </div>
                <div class="relative">
                    <div class="third">
                        <div class="name"></div>
                        <div class="address"></div>
                        <div class="city"></div>
                        <div class="state"></div>
                        <div class="zip"></div>
                        <div class="relationship"></div>
                        <div class="phone"></div>
                        <div class="mobile"></div>
                    </div>
                </div>
            </div>
            <div class="creditCards">
                <div class="creditCard">
                    <div class="first">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
                <div class="creditCard">
                    <div class="second">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
                <div class="creditCard">
                    <div class="third">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
            </div>
            <div class="mortgages">
                <div class="mortgage">
                    <div class="first">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
                <div class="mortgage">
                    <div class="second">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
                <div class="mortgage">
                    <div class="third">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
            </div>
            <div class="autoLoans">
                <div class="autoLoan">
                    <div class="first">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
                <div class="autoLoan">
                    <div class="second">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
                <div class="autoLoan">
                    <div class="third">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
            </div>
            <div class="otherLoans">
                <div class="otherLoan">
                    <div class="first">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
                <div class="otherLoan">
                    <div class="second">
                        <div class="name"></div>
                        <div class="accountNo"></div>
                        <div class="currentBalance"></div>
                        <div class="monthlyPayment"></div>
                    </div>
                </div>
            </div>
            <div class="otherAssets">
                <div class="otherAsset">
                    <div class="first">
                        <div class="description">
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
                <div class="otherAsset">
                    <div class="second">
                        <div class="description">
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loan">
            <div class="loanDetails">
                <div class="loanAcctNumber"></div>
                <div class="principal"></div>
                <div class="beginDate"></div>
                <div class="maturityDate"></div>
                <div class="currentPayoffBalance"></div>
                <div class="accruedInterest"></div>
                <div class="months"></div>
                <div class="rate"></div>
                <div class="escrowTaxAmt"></div>
                <div class="escrowInsAmt"></div>
            </div>
            <div class="loanPayments">
                <div class="loanPayment">
                    <div class="date"></div>
                    <div class="totalPayment"></div>
                    <div class="principalAmt"></div>
                    <div class="interestAmt"></div>
                    <div class="escrowAmount"></div>
                </div>
            </div>
            <div class="documents"></div>
        </div>
        <div class="loanPayments">
            <div class="loanPayment">
                <div class="date"></div>
                <div class="amount"></div>
                <div class="payMethod"></div>
                <div class="checkNumber"></div>
                <div class="checkImage"></div>
            </div>
        </div>
        <div class="propertyDetails">
            <div class="address"></div>
            <div class="hcadAcct"></div>
            <div class="purchasePrice"></div>
            <div class="salePrice"></div>
            <div class="downPayment"></div>
            <div class="noteAmount"></div>
            <div class="rate"></div>
            <div class="months"></div>
            <div class="taxes">
                <div class="tax">
                    <div class="year"></div>
                    <div class="amount"></div>
                    <div class="taxAuthority"></div>
                    <div class="taxPaymentRecipt"></div>
                </div>
            </div>
            <div class="insurance">
                <div class="phone"></div>
                <div class="agentName"></div>
                <div class="beginDate"></div>
                <div class="expireDate"></div>
                <div class="insurancePaymentReceipt"></div>
            </div>
        </div>
    </div>
</div>
<div class="property">
    <div class="sellers">
        <div class="name"></div>
        <div class="phone"></div>
        <div class="brokerName"></div>
    </div>
    <div class="legalDescription"></div>
    <div class="address"></div>
    <div class="city"></div>
    <div class="state"></div>
    <div class="zip"></div>
    <div class="listPrice"></div>
    <div class="offerPrice"></div>
    <div class="purchasePrice"></div>
    <div class="taxAmount"></div>
    <div class="hcadValue"></div>
</div>
<div class="investorInquriy">
    <div class="investor">
        <div class="investorApp"></div>
        <div class="investorPayments"></div>
    </div>
</div>



