<div class="modal-header">
    <h3 class="modal-title">Subscription status</h3>
</div>
<div class="modal-body">
    <form action=""  class="sky-form">
        <fieldset>
            <div class="row">

                <div class="alert alert-danger">
                    {{message}}
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-primary" data-style="expand-right" ng-click="goto()">Ok</button>
                    </div>
                </div>

            </div>
            </fieldset>
        </form>
</div>


