

<div class="row">
    <div class="col-md-12 text-center">
        <div class="alert alert-danger">
            {{message}}
        </div>
        <hr>
        <h1>Upgrade Plan</h1>
        <br />
        <h3>You have reached the limit of your subscription and cannot add any more loans.</h3>
        <br />
        <br />
        <h3>
            Please click Upgrade to upgrade your subscription and continue taking advantage of
            All the benefits.
        </h3>
        <br />
    </div>
</div>
