<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form class="reg-page" name="loginForm" id="loginForm">
            <div class="reg-header">
                <h2>Processing your request...</h2>
            </div>
            <div class="alert alert-danger" ng-show="hasError">
                {{message}}
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 text-right">
                    <button class="btn btn-primary" id="btnConfirm" ladda="submitting" data-style="expand-right" ng-click="acceptinguser()">Activating...</button>
                </div>
            </div>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>

</div><!--/row-->
<script type="text/javascript">
    $(document).ready(function () {
        var isdone = true;
        if (isdone) {
            var interval = setInterval(function () { $("#btnConfirm").trigger("click") }, 5000);
            isdone = false;
        }
});
</script>




