<div class="modal-header">
    <h3 class="modal-title">Please input address info</h3>
</div>
<div class="modal-body">
    <form action="" id="addrForm" class="sky-form">
        <fieldset>
            <div class="row">
                <section class="col col-md-12">
                    <label class="label">Applicant</label>
                    <label class="input">
                        <ui-select ng-model="applicant.selected" name="applicant" id="applicant" theme="select2" class="form-control">
                            <ui-select-match placeholder="Select or search a applicant in the list..." value="{{$select.selected.id}}">{{$select.selected.firstName}}</ui-select-match>
                            <ui-select-choices repeat="item in applicants | filter: $select.search">
                                <div ng-bind-html="item.firstName | highlight: $select.search"></div>
                                <small ng-bind-html="item.lastName | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </label>
                </section>
            </div>

            <div class="row">
                <section class="col col-6">
                    <label class="label">Street</label>
                    <label class="input">
                        <input type="text" name="street" id="street" ng-model="addr.street" placeholder="Enter street number and name">
                        <b class="tooltip tooltip-bottom-right">Enter Street Number and Street Name</b>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="label">City</label>
                    <label class="input">
                        <input type="text" name="city" id="city" ng-model="addr.city" placeholder="Enter city">
                        <b class="tooltip tooltip-bottom-right">Enter City</b>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-    ">
                    <label class="label">State</label>
                    <label class="input">
                        <input type="text" name="state" id="state" ng-model="addr.state" placeholder="State">
                        <b class="tooltip tooltip-bottom-right">Enter State</b>
                    </label>
                </section>
            </div>

            <div class="row">
                <section class="col col-6">
                    <label class="label">Zip Code</label>
                    <label class="input">
                        <input type="number" name="zipCode" id="zipCode" ng-model="addr.zipCode" placeholder="Zip Code">
                        <b class="tooltip tooltip-bottom-right">Enter Zip or Postal Code</b>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="label">Do you Rent or Own?</label>
                    <label class="input">
                        <input type="text" name="ownRent" id="ownRent" ng-model="addr.ownRent" placeholder="Rent or Own">
                        <b class="tooltip tooltip-bottom-right">Enter if you rent or own current address</b>
                    </label>
                </section>
            </div>

            <div class="row">
                <section class="col col-6">
                    <label class="label">Monthly Rent / Payment</label>
                    <label class="input">
                        <i class="icon-append fa fa-dollar"></i>
                        <input type="number" name="monthlyPay" id="monthlyPay" ng-model="addr.monthlyPay" placeholder="Monthly Payment">
                        <b class="tooltip tooltip-bottom-right">Enter monthly rent or loan payment</b>
                    </label>
                </section>

                <section class="col col-6">
                    <label class="label">How long at this Address</label>
                    <label class="input">
                        <!--<i class="icon-append fa fa-dollar"></i>-->
                        <input type="number" name="howLong" id="howLong" ng-model="addr.howLong" placeholder="Years at this address">
                        <b class="tooltip tooltip-bottom-right">Enter nunmber of years at this address </b>
                    </label>
                </section>
            </div>
            <input type="hidden" id="id" name="id" ng-model="addr.id" />
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="btnSave" ladda="saving" data-style="expand-right" ng-click="submitAddr()">{{titleBtnSave}}</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

<script type="text/javascript">

    var Validation = function () {

        return {
            //Validation
            initValidation: function () {
                $("#addrForm").validate({
                    // Rules for form validation
                    rules:
                    {
                        street:
                        {
                            required: true,
                        },
                        city:
                        {
                            required: true
                        },
                        state:
                        {
                            required: true
                        },
                        zipCode:
                        {
                            required: true,
                            number: true
                        },
                        ownRent:
                        {
                            required: true,
                            //number: true
                        },
                        monthlyPay:
                        {
                            required: true,
                            number: true
                        },
                        howLong:
                        {
                            required: true
                            //number: true
                        }
                    },
                    submitHandler: function (form) {
                        return false;
                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                });
            }

        };
    }();

    Validation.initValidation();

</script>