{
    ViewBag.Title = "Account Activation";
}

<h3>Your account has been verified.</h3>

<p>access your account by clicking on Login</p>


<div class="row">
    <div class="col-md-12">
        <a href="#/login" class="btn blue">Login </a>
    </div>
</div>



