@using BSFinancial.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    ViewBag.InitModule = "loginIndex";
}

@section scripts{
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/ordersService.js?v=2"></script>
    <script src="app/services/tokensManagerService.js?v=2"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/ordersController.js?v=2"></script>
    <script src="app/controllers/refreshController.js?v=2"></script>
    <script src="app/controllers/tokensManagerController.js?v=2"></script>
    <script src="app/controllers/associateController.js?v=2"></script>

}

<div data-ng-view=""></div>